body {
    text-align: center;
    font-family: Palatino, serif;
}

h1 {
    font-size: 4em;
    color: midnightblue;
}

p { 
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 3em;
    color: cadetblue;
}

span#exercise {
    color: red;
}

span#position {
    color: red;
}
